.app
    .navi
        display: flex
        height: 80px
        .logo
            width: 20%
            display: flex
            justify-content: space-between
            align-items: center
            .logo-box
                height: 100%
                width: 50%
                .logo-img
                    width: 400px
                    height: 100%
                
            .day
                display: flex
        .add-new
            width: 60%
            height: 80px
            .create-document
                display: inline-block
                height: 100%
                border: none
                display: flex
                flex-direction: column
                align-items: center
        .info
            width: 20%
            display: flex
            justify-content: space-evenly
            .circle
                width: 80px
                height: 80px
                border: 1px solid black
                border-radius: 55%
            .user-info
                display: flex
                flex-direction: column
                    
                .name
                    text-transform: capitalize
                .icons
                    display: flex
                    align-items: center
                    justify-content: space-evenly
                    .message 
                        width: 30px
                        height: 30px
                    .chevron
                        width: 30px
                        height: 30px
                        border: 1px solid black
                        display: flex
                        align-items: center
                        justify-content: center
                        border-radius: 50%
    .section
        height: 100vh
        display: flex
        .menu 
            width: 20%
            background: #6fabac
            .list
                display: flex
                flex-direction: column
                padding-left: 0
                padding-top: 20px
                .list-item
                    list-style: none
                    margin-bottom: 10px
                    padding-left: 20px
                    padding-bottom: 10px
                    padding-top: 10px
                    .sub-menu
                        padding-left: 0
                        .sub-menu-item
                            list-style: none
                            margin-bottom: 10px
                            padding-left: 20px
                            padding-bottom: 10px
                            padding-top: 10px
                            &:hover
                                background: #579394
                            .item-link
                                text-decoration: none
                                color: black
                                margin-left: 5px
                    &:hover
                        background: #3f9ea0
                    .list-link
                        text-decoration: none
                        color: black
                        margin-left: 5px
        .view
            background: #add5d6
            width: 80%
            .load
                margin-top: 20px
                .load-file
                    text-transform: capitalize
                    margin-left: 20px
                .process
                    background:  #3f9ea0
                    margin-left: 20px
                    margin-right: 20px
                    border-radius: 5px
                    padding: 5px
                    text-transform: capitalize
                .create-load-file
                    background: white
                    padding: 20px
                    margin-left: 20px
                    margin-right: 20px
                    border-radius: 5px
                    .main-page

                    .history
                        background:  #3f9ea0
                        padding: 5px
                        text-transform: capitalize
                        border-radius: 5px
                    .upload-file
                        background: #3f9ea0
                        display: flex
                        justify-content: space-evenly
                        align-items: center
                        .upload-link
                            text-decoration: none
                            color: white
                            font-size: 35px
                        i
                            font-size: 25px
            .filial
                margin-top: 20px
                .filial-list
                    display: flex
                    flex-wrap: wrap
                    .filial-item
                        width: 180px
                        height: 40px
                        display: flex
                        font-size: 12px
                        color: #333333
                        padding: 5px 10px
                        background: white
                        box-shadow: 2px 2px #8f9ab4
                        margin: 10px
                        img
                            height: 100%
                            

