.app .navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

.app .navi .logo {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .navi .logo .logo-box {
  height: 100%;
  width: 50%;
}

.app .navi .logo .logo-box .logo-img {
  width: 400px;
  height: 100%;
}

.app .navi .logo .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .navi .add-new {
  width: 60%;
  height: 80px;
}

.app .navi .add-new .create-document {
  display: inline-block;
  height: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .navi .info {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app .navi .info .circle {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 55%;
}

.app .navi .info .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .navi .info .user-info .name {
  text-transform: capitalize;
}

.app .navi .info .user-info .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.app .navi .info .user-info .icons .message {
  width: 30px;
  height: 30px;
}

.app .navi .info .user-info .icons .chevron {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

.app .section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .section .menu {
  width: 20%;
  background: #6fabac;
}

.app .section .menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  padding-top: 20px;
}

.app .section .menu .list .list-item {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.app .section .menu .list .list-item .sub-menu {
  padding-left: 0;
}

.app .section .menu .list .list-item .sub-menu .sub-menu-item {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.app .section .menu .list .list-item .sub-menu .sub-menu-item:hover {
  background: #579394;
}

.app .section .menu .list .list-item .sub-menu .sub-menu-item .item-link {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.app .section .menu .list .list-item:hover {
  background: #3f9ea0;
}

.app .section .menu .list .list-item .list-link {
  text-decoration: none;
  color: black;
  margin-left: 5px;
}

.app .section .view {
  background: #add5d6;
  width: 80%;
}

.app .section .view .load {
  margin-top: 20px;
}

.app .section .view .load .load-file {
  text-transform: capitalize;
  margin-left: 20px;
}

.app .section .view .load .process {
  background: #3f9ea0;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  padding: 5px;
  text-transform: capitalize;
}

.app .section .view .load .create-load-file {
  background: white;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
}

.app .section .view .load .create-load-file .history {
  background: #3f9ea0;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 5px;
}

.app .section .view .load .create-load-file .upload-file {
  background: #3f9ea0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .section .view .load .create-load-file .upload-file .upload-link {
  text-decoration: none;
  color: white;
  font-size: 35px;
}

.app .section .view .load .create-load-file .upload-file i {
  font-size: 25px;
}

.app .section .view .filial {
  margin-top: 20px;
}

.app .section .view .filial .filial-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app .section .view .filial .filial-list .filial-item {
  width: 180px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #333333;
  padding: 5px 10px;
  background: white;
  -webkit-box-shadow: 2px 2px #8f9ab4;
          box-shadow: 2px 2px #8f9ab4;
  margin: 10px;
}

.app .section .view .filial .filial-list .filial-item img {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */